<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <style>
      input[type="text"],
      input[type="password"],
      input[type="submit"] {
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <div class="container" id="content">
      <h1>You came from <%= referer %></h1>
      <h2>Login Page</h2>
      <input type="text" name="user" id="user" placeholder="Username" />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <input type="submit" value="Login" id="login" />
      <p id="message" style="color: red"></p>
    </div>

    <script>
      document.title = "Log in to " + location.host;

      const login = (user, password) => {
        fetch("/login", {
          method: "POST",
          withCredentials: true,
          credentials: "include",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ user, password }),
        })
          .then((response) => {
            if (response.status === 401) {
              const message = document.getElementById("message");
              message.innerText = "Authorization failed - Invalid credentials";
              return false;
            }

            if (response.status !== 200) return false;

            return response.json();
          })
          .then((data) => {
            if (data && data.status === "ok") {
              window.location.href = "/logged-in";
              return;
            }
          });
      };

      const submit = document.getElementById("login");
      submit.addEventListener("click", (e) => {
        e.preventDefault();
        const userField = document.getElementById("user");
        const passwordField = document.getElementById("password");
        const user = userField.value;
        const password = passwordField.value;
        login(user, password);
      });
    </script>
  </body>
</html>
