<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container" id="content" style="display: none">
      <h1>You came from <%= referer %></h1>
      <h2>Login</h2>
      <input type="password" name="password" id="password" />
      <input type="submit" value="Login" id="login" />
      <p id="message" style="color: red"></p>
    </div>

    <script>
      const content = document.getElementById("content");
      content.style.display = "block";
      document.title = "Log in to " + location.host;

      const login = (password) => {
        fetch("/login", {
          method: "POST",
          withCredentials: true,
          credentials: "include",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ password }),
        })
          .then((response) => {
            if (response.status === 401) {
              const message = document.getElementById("message");
              message.innerText = "Authorization failed - Invalid credentials";
              return false;
            }

            // check for auth failure for other reasons
            if (response.status !== 200) return false;

            // auth okay
            return response.json();
          })
          .then((data) => {
            if (data && data.status === "ok") {
              // auth success, cookie should be set
              window.location.href = "/logged-in";
              return;
            }
          });
      };

      const input = document.getElementById("password");
      input.focus();
      input.addEventListener("keyup", (e) => {
        e.preventDefault();
        if (e.key === "Enter") {
          const password = input.value;
          input.value = "";
          login(password);
        }
      });

      const submit = document.getElementById("login");
      submit.addEventListener("click", (e) => {
        e.preventDefault();
        const password = input.value;
        input.value = "";
        login(password);
      });
    </script>
  </body>
</html>
